{% extends 'base.html' %}
{% block title %}Board{% endblock %}
{% block container %}
<div class="container-fluid vh-100">
    <!-- Title -->
    <div class="row justify-content-around">
        <div class="col-6 bg-white text-center">
            <h1>NKT1 - Nanke Training 1</h3>
        </div>
        <div class="col-6 bg-white text-center">
            <h1>Quals 1 of 10</h3>
        </div>
    </div>
    <!-- Content -->
    <div class="row h-75 bg-secondary">
        <div class="col-3">
            <table class="table h-100 text-center" style="font-size: 40px; background-color: aqua;">
                <thead>
                    <tr>
                        <th scope="col">Auto</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A</th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 text-center">
            <div class="row bg-white" style="height: 15%;">
                <div class="col align-self-center">
                    <h1 style="font-size: 75px;">6998</h1>
                </div>
            </div>
            <div class="row align-items-center bg-primary" style="height: 70%;">
                <div class="col text-white">
                    <h1 style="font-size: 150px;">50</h1>
                </div>
            </div>
            <div class="row bg-white" style="height: 15%;">
                <div class="col align-self-center">
                    <h1 style="font-size: 75px;">6998</h1>
                </div>
            </div>
        </div>
        <div class="col-3 text-center">
            <div class="row bg-white" style="height: 15%;">
                <div class="col align-self-center">
                    <h1 style="font-size: 75px;">6998</h1>
                </div>
            </div>
            <div class="row align-items-center bg-danger" style="height: 70%;">
                <div class="col text-white">
                    <h1 style="font-size: 150px;">50</h1>
                </div>
            </div>
            <div class="row bg-white" style="height: 15%;">
                <div class="col align-self-center">
                    <h1 style="font-size: 75px;">6998</h1>
                </div>
            </div>
        </div>
        <div class="col-3">
            <table class="table h-100 text-center" style="font-size: 40px; background-color: rgb(255, 100, 100);">
                <thead>
                    <tr>
                        <th scope="col">Auto</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A</th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock container %}